*{ 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}


.bodyPrincipal{
    background-image: url(../img/long-hospital-bright-corridor-rooms-260nw-1544285366.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.navbar {
    background-color: #0f77a4;
}

.navbar-brand{
   color: #8bd7ff;
}

.nav-link{
 color: #6cbfe8;

}

.contenedor{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.card{
    box-shadow: 4px 2px #0c466f78;
}
.card img{
    height: 250px;
    width: auto;
}
/*card vasopresores*/
.card-title-vasopresores{
    color: red;
    font-weight: bolder;
    text-align: center;
}

.card-text-vasopresores{
    color: rgba(214, 13, 13, 0.993);
}

/*card de sedacion*/
.card-title-sedacion{
 color: rgb(202, 202, 6);
 font-weight: bolder;
 text-align: center;
}

.card-text-sedacion{
    color: rgb(173, 173, 9);
}


/*card de antibioticos*/
.card-title-antibioticos{
    color: #0c466f;
    font-weight: bolder;
    text-align: center;
}

.card-text-antibioticos{
    color: #08385e;
}

.footer{
    background-color: #0f77a47e;
    padding: 10px 10px;
   
    
    
}
.footer_lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color:#8bd7ff; ;
}


/*pagina vasopresores*/
.section_vasopresores{
    margin-top: 20px;

}
.Vasopresores{
    text-align: center;
    padding: 20px 20px;
    color: #8e0000;
    background-color: #8bd6ff63;
    border-radius: 4px;
}
.Vasopresores h4{
    height: 50px;
    margin-top: 20px;
}

.Vasopresores_lista{
    padding: 10px 10px;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.Vasopresores_lista_link{
    padding: 10px 30px;
    background-color:#df190b83;
    border-radius: 4px;
    
}

.Vasopresores_lista_link:hover{
    padding: 30px 30px;
   background-color: orangered;
}

.alert{
    background-color: #febc2da7;
}

/*pagina de sedacion*/

.titulo{
    text-align: center;
    font-size: 160%;
    color: rgb(173, 173, 9);
}
.section_sedacion{
    margin-top: 20px;

}
.Sedacion{
    text-align: center;
    padding: 20px 20px;
    color:#a05303;
    background-color: #67bf555d;
    border-radius: 4px;
}

.Sedacion_formulario{
    color:#184f12;
    font-weight: bolder;
    background-color: rgb(242, 239, 234);
    width: 30rem;
    text-align: center;
   margin-left: 25rem;
}

.Sedacion h4{
    height: 50px;
    margin-top: 20px;
    color:rgb(173, 173, 9);
}

.Sedacion_lista{
    padding: 10px 10px;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    gap:5px;
}

.Sedacion_lista_link{
    padding: 10px 30px;
    background-color:#ccffb1;
    border-radius: 4px;
    
}

.Sedacion_lista_link:hover{
    padding: 30px 30px;
   background-color:rgba(13, 161, 194, 0.672);
}



/*pagina de antibioticos*/

.titulo{
    text-align: center;
    font-size: 160%;
    color:#0c466f;
}
.section_antibiotico{
    margin-top: 20px;

}
.article_antibiotico{
    text-align: center;
    padding: 20px 20px;
    color:white;
    background-color:#7a4df67c;
    border-radius: 4px;
}

.antibiotico_formulario{
    font-weight: bolder;
    background-color: rgb(242, 239, 234);
    width: 30rem;
    text-align: center;
    margin-left: 25rem;
    color: #08385e;
}

.article_antibiotico h4{
    height: 50px;
    margin-top: 20px;
    color:#0c466f;
}

.antibiotico_lista{
    padding: 10px 10px;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    gap:5px;
    
}

.antibiotico_lista_link{
    padding: 10px 30px;
    background-color:#08036cbf;
    border-radius: 4px;
    
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;   
}

/*tabla*/
.tablas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.accordion{
    width: 50rem
}

.accordion img{
    width: 45rem;
    height: 30rem;
}


.biblio{
    color: #08385e;
}

.biblio:hover{
    transform: translateY(-4rem)
}
.biblio ul{
    list-style: none;
    background-color: #8bd6ffba;
    padding: 30px 30px;
    border-radius: 4px;
    box-shadow: 3px 4px rgba(0, 128, 0, 0.489);
}